<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content>
    <!-- <img ng-src="{{chat.face}}" style="width: 64px; height: 64px"> -->
    <!-- <p>
      {{chat.lastText}}
    </p>
    <p>Type: {{chat.type}}</p>
    <p>Poids de la ruche: {{chat.poid}} kg</p>
    <p>Poids d'une réhausse: {{chat.poid2}} kg</p>
    <p>Nombre de réhausses: {{chat.nbr}}</p> -->

    <div class="padding">
      <canvas id="line" class="chart chart-line" data="data"
      labels="labels" legend="true" series="series"
      click="onClick">
      </canvas>
    </div>

    <ul class="list">
      <li class="item">Type: {{chat.type}}</li>
      <li class="item">Poids de la ruche: {{chat.poid}} kg</li>
      <li class="item">Poids d'une réhausse: {{chat.poid2}} kg</li>
      <li class="item">Nombre de réhausses: {{chat.nbr}}</li>
    </ul>
  </ion-content>
</ion-view>
