<ion-view view-title="Ruches">

<ion-nav-buttons side="right">
  <button class="button" ng-controller='ChatsCtrl' ng-click="openModal()">
    Ajouter
  </button>
</ion-nav-buttons> 

  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats track by $index" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <!-- <img ng-src="{{chat.face}}"> -->
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Supprimer
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>



<script id="contact-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar>
      <h1 class="title">Créer une ruche</h1>
      <div class="button button-clear" ng-click="modal.hide()">
        <span class="icon ion-close"></span>
      </div>
    </ion-header-bar>
    <ion-content>
      <form ng-submit="createChat(chat)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="ID de la ruche" ng-model="chat.name">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-energized" ng-click="add(chat)">Ajouter</button>
        </div>
      </form>
    </ion-content>
  </div>
</script>

